@charset "UTF-8";

body {
    background-color: rgb(113, 113, 167);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}
h1 {
   color: black;
   background-color: rgb(240, 255, 250);
}
h2 {
   color: white;
}
p{
   text-align: justify;
}